body{
  min-height: 500px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #8ad8f7;
}

#projects {
  background-color: #8ad8f7;
}

footer {
  margin-top: 200px;
  background-color: #021569;
  width: 100%;
  position:absolute;
  bottom: 0px;
}

section {
  padding-top: 5rem;
}
